@model IEnumerable<eAdsFInalMVC.Models.product1>

@{
    ViewBag.Title = "Product";
}
 
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="#">Customer Info</a>
                        </li>
                    </ul>
                </div>
                <h1 class="page-title">Customer Info</h1>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->
<!--================================
           START DASHBOARD AREA
   =================================-->
<section class="dashboard-area">
    <div class="dashboard_menu_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="dashboard_menu">
                        <li>
                            <a href="~/Manage/Profile">
                                <span class="lnr lnr-user"></span>Profile
                            </a>
                        </li>
                        <li>
                            <a href="~/Manage/Product">
                                <span class="lnr lnr-gift"></span> List Products
                            </a>
                        </li>
                        <li>
                            <a href="~/Manage/CreateProduct">
                                <span class="lnr lnr-gift"></span> Create Product
                            </a>
                        </li>
                        <li>
                            <a href="~/Manage/ChangePassword">
                                <span class="lnr lnr-gift"></span> Change Password
                            </a>
                        </li>

                    </ul>
                    <!-- end /.dashboard_menu -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    </div>

    <section class="products section--padding">
        <!-- start container -->
        <div class="container">


            <p>
                @Html.ActionLink("Create New", "CreateProduct")
            </p>
            <table class="table">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pPrice)
                    </th>

                    <th></th>
                </tr>
                @{
                    var count = 1;

                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @count
                            @{
                                count++;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pPrice)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.pId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.pId })
                            @*@using (Html.BeginForm("Delete", "Product", new { @id = item.pId }))
                                {
                                    <input type="submit" value="delete" onclick="return confirm('Are you sure to delete with id = @item.pId');" />
                                }*@

                        </td>
                    </tr>
                }

            </table>

        </div>
    </section>
